In [2]:
import sys
import pandas as pd
import seaborn as sns
import numpy as np

In [6]:
Timberline = pd.read_csv('/home/dba/realestate/Timberline-pubrecs.csv')
Timberline[['PropertyAddressFormatted', 'OwnerOccupied', 'DeedRecordDate']]

   PropertyAddressFormatted  OwnerOccupied DeedRecordDate
0          1502 Timberline            True     12/20/2011
1          1507 Timberline            True     01/29/1997
2          1600 Timberline            True     06/18/2013
3          1600 Timberline            True     06/18/2013
4          1600 Timberline            True     06/18/2013
5          1601 Timberline            True     05/07/1998
6          1601 Timberline            True     05/07/1998
7          1602 Timberline            True     04/01/2004
8          1603 Timberline            True     04/14/2004
9          1604 Timberline            True     07/22/2002
10         1607 Timberline            True     06/24/2005
11         1607 Timberline            True     06/24/2005
12         1608 Timberline            True     05/07/2008
13         1608 Timberline            True     05/07/2008
14         1608 Timberline            True     05/07/2008
15         1609 Timberline            True     11/12/2020
16         1609 Timberline            True     11/12/2020
17         1609 Timberline            True     11/12/2020
18         1610 Timberline           False     06/19/2002
19         1610 Timberline           False     06/19/2002
20         1610 Timberline           False     06/19/2002
21         1611 Timberline            True     06/09/2021
22         1615 Timberline            True     03/06/2008
23         1615 Timberline            True     03/06/2008

In [54]:
UnionSquare.SoldPrice = UnionSquare.SoldPrice.str.replace('$', '')
UnionSquare.SoldPrice = UnionSquare.SoldPrice.str.replace(',', '')
pd.to_numeric(UnionSquare.SoldPrice)
UnionSquare = UnionSquare.drop(UnionSquare[UnionSquare.InteriorSqFt < 1 ].index)
UnionSquare[['InteriorSqFt', 'SoldPrice']]

/tmp/ipykernel_4842/1589920018.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  UnionSquare.SoldPrice = UnionSquare.SoldPrice.str.replace('$', '')

    InteriorSqFt SoldPrice
1           1800    225000
2           3660    310000
3           1736    220000
4           1395    165000
5           2577    380000
6           2300    140000
7           1396    240000
10          2504    390000
11          2196    201400
13          1650     32500
14          2300    200000
15          2070    170000
16          2947    375000
17          2250    279999
18           960     70000
19          2708    165000
20          2276    270000
21          2025    220000
22          1521    175000
23          2235    255000
24          1084    115000
25          3460    260000
26          1710     30000

In [4]:
#UnionSquare.sum(axis=0, numeric_only=True)

In [5]:
#pd.to_numeric(UnionSquare.SoldPrice)

In [46]:
UnionSquare['SoldPrice'] = UnionSquare['SoldPrice'].astype(float)

In [47]:
a=UnionSquare['SoldPrice'].sum()

In [48]:
b=UnionSquare['InteriorSqFt'].sum()

In [52]:
AvgCostPerSqFt = str(round(a/b, 2))
AvgCostPerSqFt

'100.26'

In [51]:
print('AvgCostPerSqFt is $', AvgCostPerSqFt)

AvgCostPerSqFt is $ 100.26

In [11]:
c=UnionSquare.MLSNumber.count()

In [12]:
AvgSalePrice = str(round(a/c, 2))

In [13]:
print('AvgSalePrice is $',AvgSalePrice)

AvgSalePrice is $ 213889.42

In [55]:
UnionSquare.head

<bound method NDFrame.head of       MLSNumber Category  Status  Type  DOM  CDOM    ListDate  \
1   MDBA2019064      RES  Closed   NaN    5     5  11/18/2021
2   MDBA2018226      RES  Closed   NaN   60    60  11/12/2021
3   MDBA2017964      RES  Closed   NaN   17    17  11/08/2021
4   MDBA2001351      RES  Closed   NaN   72    72  10/18/2021
5   MDBA2015172      RES  Closed   NaN   10    10  10/05/2021
6   MDBA2009134      RES  Closed   NaN   54    54  09/29/2021
7   MDBA2013610      RES  Closed   NaN   84    84  09/22/2021
10  MDBA2009522      RES  Closed   NaN   82    82  08/20/2021
11  MDBA2009196      RES  Closed   NaN    1     1  08/18/2021
13  MDBA2005424      RES  Closed   NaN   71    71  07/22/2021
14  MDBA2002210      RES  Closed   NaN   23   154  06/28/2021
15  MDBA2001886      RES  Closed   NaN  159   159  07/15/2021
16  MDBA2001042      RES  Closed   NaN   32    32  07/01/2021
17   MDBA552850      RES  Closed   NaN   54    54  05/26/2021
18   MDBA548590      RES  Closed   NaN    8     8  04/28/2021
19   MDBA548580      RES  Closed   NaN   16    16  04/26/2021
20   MDBA547052      RES  Closed   NaN   43    43  04/14/2021
21   MDBA540992      RES  Closed   NaN   43   210  02/26/2021
22   MDBA539668      RES  Closed   NaN   34    34  03/01/2021
23   MDBA540152      RES  Closed   NaN    8    26  02/15/2021
24   MDBA539504      RES  Closed   NaN   70    70  02/09/2021
25   MDBA525594      RES  Closed   NaN  170   170  10/08/2020
26   MDBA517066      RES  Closed   NaN  227   227  07/16/2020

   Agreement of Sale/Signed Lease Date OffMarketDate SettledDate  ...  \
1               11/21/2021 12:00:00 AM    01/04/2022  01/03/2022  ...
2               03/01/2022 12:00:00 AM    03/25/2022  03/25/2022  ...
3               11/24/2021 12:00:00 AM    01/13/2022  01/12/2022  ...
4               01/04/2022 12:00:00 AM    02/04/2022  02/04/2022  ...
5               10/13/2021 12:00:00 AM    12/08/2021  12/02/2021  ...
6               11/29/2021 12:00:00 AM    01/18/2022  01/18/2022  ...
7               12/14/2021 12:00:00 AM    01/31/2022  01/31/2022  ...
10              11/09/2021 12:00:00 AM    01/04/2022  12/29/2021  ...
11              08/18/2021 12:00:00 AM    09/20/2021  09/17/2021  ...
13              08/29/2021 12:00:00 AM    10/26/2021  10/22/2021  ...
14              07/19/2021 12:00:00 AM    08/25/2021  08/18/2021  ...
15              01/27/2022 12:00:00 AM    03/09/2022  03/09/2022  ...
16              07/31/2021 12:00:00 AM    09/03/2021  09/03/2021  ...
17              08/03/2021 12:00:00 AM    10/01/2021  09/30/2021  ...
18              05/04/2021 12:00:00 AM    07/10/2021  07/09/2021  ...
19              05/11/2021 12:00:00 AM    06/08/2021  06/07/2021  ...
20              08/06/2021 12:00:00 AM    09/13/2021  09/13/2021  ...
21              04/09/2021 12:00:00 AM    06/10/2021  06/10/2021  ...
22              04/03/2021 12:00:00 AM    06/02/2021  05/28/2021  ...
23              02/22/2021 12:00:00 AM    04/07/2021  04/06/2021  ...
24              04/27/2021 12:00:00 AM    07/19/2021  07/19/2021  ...
25              04/26/2021 12:00:00 AM    06/01/2021  05/27/2021  ...
26              04/23/2021 12:00:00 AM    05/29/2021  05/28/2021  ...

   AdditionalShortSale BuyerBrokerCompensation SubAgentCompensation  \
1         StandardSale                     3.0                  3.0
2         StandardSale                     2.5                  2.5
3         StandardSale                     2.5                  2.5
4         StandardSale                     2.5                  2.5
5         StandardSale                     2.5                  2.5
6         StandardSale                     2.5                  2.5
7         StandardSale                     2.5                  2.5
10        StandardSale                     2.0                  0.0
11        StandardSale                     2.5                  0.0
13             Auction                     2.5                  0.0
14             Auction                     1.0                  0.0
15        StandardSale                     2.5                  2.5
16        StandardSale                     3.0                  1.0
17        StandardSale                     2.5                  2.5
18        StandardSale                  1800.0               1800.0
19             Auction                     2.5                  0.0
20        StandardSale                     2.5                  0.0
21        StandardSale                     2.5                  2.5
22        StandardSale                     2.5                  2.0
23        StandardSale                     2.5                  2.5
24        StandardSale                     2.5                  0.0
25        StandardSale                     2.5                  2.5
26        StandardSale                     2.0                  1.0

    TransactionBrokerCompensation OriginatingMLS AboveGradeSqFt  \
1                             NaN         BRIGHT           1800
2                             NaN         BRIGHT           3660
3                             NaN         BRIGHT           1736
4                             NaN         BRIGHT           1395
5                             NaN         BRIGHT           2327
6                             NaN         BRIGHT           2300
7                             NaN         BRIGHT           1396
10                            NaN         BRIGHT           2504
11                            NaN         BRIGHT           2196
13                            NaN         BRIGHT           1650
14                            NaN         BRIGHT           2300
15                            NaN         BRIGHT           2070
16                            NaN         BRIGHT           2727
17                            NaN         BRIGHT           2250
18                            NaN         BRIGHT            768
19                            NaN         BRIGHT           2708
20                            NaN         BRIGHT           2276
21                            NaN         BRIGHT           2025
22                            NaN         BRIGHT           1521
23                            NaN         BRIGHT           2235
24                            NaN         BRIGHT           1084
25                            NaN         BRIGHT           2765
26                            NaN         BRIGHT           1710

    BelowGradeSqFt                      HomeBuilt BasementFootprintPct  \
1                0                            NaN                  NaN
2                0                            NaN                  NaN
3                0        Excellent,VeryGood,Good                  NaN
4                0                            NaN                  NaN
5              250                            NaN                  NaN
6                0  BelowAverage,MajorRehabNeeded                  NaN
7                0                            NaN                  NaN
10               0                            NaN                  NaN
11               0                            NaN                  NaN
13               0                            NaN                  NaN
14               0                            NaN                  NaN
15               0                            NaN                  NaN
16             220                      Excellent                100.0
17               0                            NaN                  NaN
18             192                            NaN                  NaN
19               0                            NaN                  NaN
20               0                            NaN                  NaN
21               0                           Good                  NaN
22               0                            NaN                  NaN
23               0                      Excellent                  NaN
24               0        Excellent,VeryGood,Good                  NaN
25             695                      Excellent                  NaN
26               0               MajorRehabNeeded                  NaN

    BasementFinishedPct
1                    NaN
2                    NaN
3                    NaN
4                    NaN
5                    NaN
6                    NaN
7                    NaN
10                   NaN
11                   NaN
13                   NaN
14                   NaN
15                   NaN
16                  50.0
17                   NaN
18                   NaN
19                   NaN
20                   NaN
21                   NaN
22                   NaN
23                   NaN
24                   NaN
25                   NaN
26                   NaN

[23 rows x 83 columns]>